@font-face { 
font-family: "AlexBrush-Regular"; 
src:url(../KaushanScript-Regular.otf) ;
}

@keyframes shaking{
	0%{
		-webkit-transform:rotate(-20deg);
		-moz-transform:rotate(-20deg);
		transform:rotate(-20deg);
	}
	25%{
		-webkit-transform:rotate(40deg);
		-moz-transform:rotate(40deg);
		transform:rotate(40deg);
	}
	50%{
		-webkit-transform:rotate(-40deg);
		-moz-transform:rotate(-40deg);
		transform:rotate(-40deg);
	}
	75%{
		-webkit-transform:rotate(40deg);
		-moz-transform:rotate(40deg);
		transform:rotate(40deg);
	}
	100%{
		-webkit-transform:rotate(-20deg);
		-moz-transform:rotate(-20deg);
		transform:rotate(-20deg);
	}

}


*{
	margin:0;
	padding: 0;
}

#input{
	width: 100%;
	height: 100px;
    margin:0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#container{
	width: 520px;
	height: 400px;
	margin: 0 auto;
	background-color: #A8DC3C;
	padding:10px;
	text-align: center;
	border: solid 1px;
	border-color: #A8DC3C;
	border-radius: 8px;


}
.layout{
	width: 110px;height: 110px;
	text-align: center;
	background-color: #B9D998;
	margin-right: 9px;
	margin-left: 9px;
	margin-top: 20px;
	float:left;
	position: relative;
	border: solid 1px;
	border-color: #B9D998;
	border-radius: 8px;
}
.added{
	width: 110px;height: 110px;
	text-align: center;
	background-color: white;
	position: absolute;
	border: solid 1px;
	border-color: #B9D998;
	border-radius: 8px;

}
.back{
	width: 110px;height: 110px;
	text-align: center;
	background: url("http://localhost/undercover/img/excalmatory.jpg") center center no-repeat;
	position: absolute;
	border: solid 1px;
	border-color: #B9D998;
	border-radius: 8px;

}
#result{
	position: absolute;
	width: 100px;
	height: 20px;
	text-align: center;
	top:50px;
	left: 50%;
	margin-left: 200px;
}
.top{
	width: 110px;height: 110px;
	text-align: center;
	background-color: yellow;
	position: absolute;

}
.flip{
	transform: rotate3d(0,1,0,0deg);
	transition-duration: 0.4s; 
}

.fliped{transform: rotate3d(0,1,0,-90deg);transition-duration: 0.4s;
}

#alert{
	display: none;  
	position: absolute;  
	top: 30%;  
	left: 75%; 
	width: 25%;  
	height: 30%;  
	padding: 8px;  
	border: 8px solid #E8E9F7;  
	background-color: white; 
 	z-index:1002;  
	overflow: auto;
}
button{
	width: 50px;
	height: 20px;
}
.selected{
	width: 110px;height: 110px;
	text-align: center;
	background-color:#036;
	position: absolute;
}

#names{
	display: none;  
	position: absolute;  
	font-family:"AlexBrush-Regular";
	top: 25%;  
	left: 22%; 
	width: 53%;  
	height: 49%;  
	padding: 8px;  
	border: 8px solid #E8E9F7;  
	background-color: white; 
 	z-index:1002;  
	overflow: auto;

}
#bg{ 
	display: none;  
	position: absolute;  
	top: 0%;  
	left: 0%;  
	width: 100%;  
	height: 100%;  
	background-color: black;  
	z-index:1001;  
	-moz-opacity:0.5;  	
	opacity:.50;  
}       
